<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Messages</title>
  </head>
  <body>
    <h1>Messages</h1>
    <a href="/new-message">New message</a>
    <br />
    <% if (Array.isArray(locals.messages)) { %> <% messages.forEach(message => {
    %>
    <ul>
      <li><h3><%= message.title %></h3></li>
      <% if (member) { %>
      <li><%= message.created %></li>
      <li><%= getUserName(message.user_id)%></li>
      <% } %>
      <li><p><%= message.message %></p></li>
      <li></li>
    </ul>

    <% }) %> <% } %>

    <a href="/logout">Logout</a>
    <a href="/join-club">Join the club!</a>
  </body>
</html>
